
html, body {
  padding: 0;
  margin: 0 auto;
}

body {
  width: 600px;
  background-color: #efefef;
}

.container, .slides , .slides .slide {
  transition: 1s;
  -moz-transition: 1s;
}

.container {
  margin: 0;
  padding: 0;
  width: 610px;
  height: 410px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 10px #ccc;
}

.slides {
  width: 600px;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin: 5px;
}

.slides .slide {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 0;
}

.slides .slide p {
  line-height: 1.5em;
}

.slides .slides_container {
  transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -ms-transition: 1s;
  width: 600px;
  margin: auto;
  overflow: auto;
}

#canvas-slide canvas {
  position: absolute;
}

#created {
  position: absolute;
  right: -32px;
  bottom: 13px;
  text-align: center;
  background-color: #efefef;
  color: #888;
  font-size: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ccc;
  z-index: 642;
  cursor: default;
  width: 100px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

.slide .well {
  background-color: #efefef;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #ccc;
}

#message-box {
  transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -ms-transition: 1s;

  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #acacac;
  box-shadow: 0 0 20px #888;
}
#message-box .title {
  background-color: #333;
  color: #fff;
  font-family: "Comic Sans MS", sans, sans-serif;
  height: 40px;
  line-height: 40px;
  font-size: 30px;
  text-align: center;
}
#message-box .body {
  margin: 10px;
  line-height: 40px;
}
#message-box .act-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 36px;
  line-height: 30px;
  padding: 0;
  background-color: #888;
}
#message-box .act-bar .y-btn,
#message-box .act-bar .n-btn {
  display: inline-block;
  width: 48%;
  text-align: center;
  cursor: pointer;
  margin: 3px 1%;
  border-radius: 10px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  color: white;
}

#message-box .act-bar a:hover {
  background-color: #555;
}
